/* Navbar.css */
.navbar {
    background-color: #333;
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3em;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-right: 3em;
  }
  
  .navbar-links li {
    margin: 0 1rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }