.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 90vh;
    margin: auto;   
    background-color: white;
}